/* font-family: "Exo2Regular"; **/
@font-face {
    font-family: "Exo2Regular";
    src: url("fonts/Exo2Regular/Exo2Regular.eot");
    src: url("fonts/Exo2Regular/Exo2Regular.eot?#iefix")format("embedded-opentype"),
    url("fonts/Exo2Regular/Exo2Regular.woff") format("woff"),
    url("fonts/Exo2Regular/Exo2Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Exo2Medium"; **/
@font-face {
    font-family: "Exo2Medium";
    src: url("fonts/Exo2Medium/Exo2Medium.eot");
    src: url("fonts/Exo2Medium/Exo2Medium.eot?#iefix")format("embedded-opentype"),
    url("fonts/Exo2Medium/Exo2Medium.woff") format("woff"),
    url("fonts/Exo2Medium/Exo2Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Exo2Italic"; **/
@font-face {
    font-family: "Exo2Italic";
    src: url("fonts/Exo2Italic/Exo2Italic.eot");
    src: url("fonts/Exo2Italic/Exo2Italic.eot?#iefix")format("embedded-opentype"),
    url("fonts/Exo2Italic/Exo2Italic.woff") format("woff"),
    url("fonts/Exo2Italic/Exo2Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Exo2Bold"; **/
@font-face {
    font-family: "Exo2Bold";
    src: url("fonts/Exo2Bold/Exo2Bold.eot");
    src: url("fonts/Exo2Bold/Exo2Bold.eot?#iefix")format("embedded-opentype"),
    url("fonts/Exo2Bold/Exo2Bold.woff") format("woff"),
    url("fonts/Exo2Bold/Exo2Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



html, body {
	font-size: 16px;
	overflow-x: hidden;
}

body {
	width: 100%;
	font-family: "Exo2Regular", sans-serif;
	text-align: center;
	background: #fff;
}

main {
	overflow: hidden;
}

.animated {
	animation-fill-mode: forwards;
}

/** Header styles **/
.header {
	color: #fff;
}

.header-contacts {
	display: inline-block;
	width: 100%;
	padding: 15px 0;
	text-align: start;
	background: #6c90be;
}

.social {
	display: inline-block;
	margin-left: 35px;
}

.social li {
	display: inline-block;
	margin: 0 7px;
}

.social i {
	display: inline-block;
	width: 30px;
	height: 31px;
	background: url('../img/social.png') no-repeat;
}

.social li:first-child  i { background-position:   0   0 }
.social li:nth-child(2) i { background-position: -45px 0 }
.social li:last-child   i { background-position: -90px 0 }

.header-contacts-phone {
	float: right;
	margin-right: 35px;
}

.phone {
	float: right;
	display: block;
	width: 40%;
}

.phone-icon {
	display: inline-block;
	width: 0.812rem;
	height: 0.812rem;
	background: url('../img/phone2.png') no-repeat;
}

.orange-btn {
	float: right;
	display: block;
	width: 40%;
	margin-left: 15px;
	padding: 0.562rem 1.875rem;
	font-size: 1rem;
	background: #fbae3b;
	border: 2px solid #fbae3b;
	color: #fff;
	cursor: pointer;
	-webkit-transition: background .3s;
	        transition: background .3s;
}

.orange-btn:hover {
	background: transparent;
}



.header-controls {
	position: relative;
	border-bottom: 10px solid #6c90be;
}


/** Navigation styles **/
.header-controls .nav {
    display: inline-block;
    text-align: center;
}

.nav li {
    display: inline-block;
    width: 145px;
    line-height: 84px;
    font-size: 17px;
}

.nav li:nth-child(even) {
	width: 45px;
	color: #000;
}
.nav li:nth-child(odd):hover {
    background: #6c90be;
}

.nav li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000;
}

.nav ul li:hover a {
    color: #fff;
}

.nav ul li a:hover + .menu-hidden, .menu-hidden:hover {
    display: block;
}

.show-menu {
    text-decoration: none;
    color: #fff;
    background: #6c90be;
    text-align: center;
    padding: 15px;
    display: none;
}

.nav input[type=checkbox] {
    display: none;
}

.nav input[type=checkbox]:checked ~ #menu{
    display: block; 
}



.cart-total {
	display: inline-block;
    width: 223px;
    float: right;
    margin-right: 2.812rem;
    text-align: right;
    line-height: 84px;
    color: #000;
}

.cart-total span {
	position: relative;
	text-align: center;
	cursor: pointer;
}

.cart-total span i {
	display: inline-block;
	width: 0.937rem;
	height: 0.937rem;
	margin-right: 7px;
	background: url('../img/cart.png') no-repeat;
}

span.cart-total-quantity {
	position: absolute;
    top: -17px;
    right: -10px;
	display: inline-block;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	font-size: 14px;
	line-height: 19px;
	background: #fbae3b;
	color: #fff;
}



/** Main content styles **/
.main-wrap {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 2.687rem 0 10.812rem;
	background: url('../img/legs.png') no-repeat,
				url('../img/main-wrap-bg.jpg');
	background-position: 54% 0, 0 0;
	background-size: auto, cover;
	color: #fff;
}
.main-headline {
	display: inline-block;
	width: 100%;
}

.main-headline h2 {
	display: inline-block;
	padding: 2.812rem 2.187rem;
	font-family: "Exo2Bold";
	font-size: 2.562rem;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.5);
}

.main-wrap .main-headline h2 {
	margin: auto 2.187rem 2.187rem;
}

.offer {
	float: left;
	display: inline-block;
	width: 50%;
	text-align: right;
}

.offer p {
	display: inline-block;
	width: 21.251rem;
	font-size: 1.812rem;
	line-height: 2.251rem;
	text-align: left;
}

.diagonal {
	position: absolute;
	width: 100%;
	height: 10.312rem;
	background: -webkit-linear-gradient(left top, transparent 49%, #fff 51%),
	            -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) 0 99% no-repeat,
	            -webkit-linear-gradient(left top, transparent 49%, rgba(255, 255, 255, 0.2) 51%) no-repeat;
	background: -webkit-linear-gradient(left top, transparent 49%, #fff 51%), -webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) 0 99% no-repeat, -webkit-linear-gradient(left top, transparent 49%, rgba(255, 255, 255, 0.2) 51%) no-repeat;
	background: linear-gradient(to right bottom, transparent 49%, #fff 51%),
	            linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) 0 99% no-repeat,
	            linear-gradient(to right bottom, transparent 49%, rgba(255, 255, 255, 0.2) 51%) no-repeat;
	background-size: cover, 100% 50%, 100% 50%;
}

.main-wrap .diagonal {
	bottom: 0;
}

/** Timer styles **/
.timer-wrap {
	float: left;
	display: inline-block;
	width: 50%;
	text-align: left;
}

.timer {
	display: inline-block;
	width: 340px;
	text-align: center;
}

.timer h5 {
	font-size: 1.375rem;
}

.timer-clock {
	display: inline-block;
	margin-top: 0.812rem;
	font-family: "Exo2Bold";
	font-size: 2.562rem;
}

.timer-clock p {
	margin-top: 1.062rem;
	padding-right: 1.187rem;
	font-family: "Exo2Italic";
	font-size: 1rem;
	text-align: center;
}

.timer-clock div:last-child p {
	padding: 0;
	text-align: center;
}

.timer-clock div {
	display: inline-block;
	margin: 0 0.562rem;
}
.timer-clock>div,
.timer-clock .timer-dots {
	margin-right: 0;
}

.btn-wrap {
	display: inline-block;
	width: 100%;
	float: left;
}

.main-wrap input {
	display: block;
	margin: 3.312rem 0 0;
	padding: 0.812rem 1.875rem;
	font-size: 1.125rem;
	background: transparent;
	border: 2px solid #fbae3b;
	color: #fff;
	cursor: pointer;
	-webkit-transition: background .3s;
	        transition: background .3s;
}

.main-wrap input:hover {
	background: #fbae3b;
}



/** Work scheme styles **/
.scheme-wrap {
	position: relative;
	z-index: 3;
	display: inline-block;
	padding: 2.187rem 0 5.437rem;
}

.scheme-wrap h3 {
	font-family: "Exo2Bold";
	font-size: 2.562rem;
	text-transform: uppercase;
	color: #fbae3b;
	opacity: 0;
}

.scheme ul li {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.scheme ul li:first-child {
	float: left;
}

.scheme ul li:nth-child(3) {
	vertical-align: top;
}

.scheme ul li:nth-child(odd) {
	width: 17rem;
}

.scheme-img {
	width: 10.25rem;
	height: 10.25rem;
	margin: 5rem auto 2.5rem;
	border-radius: 50%;
	background: url('../img/scheme.png') no-repeat;
	background-size: cover;
	box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

.scheme ul li:nth-child(3) .scheme-img { background-position: -12.125rem 0 }
.scheme ul li:last-child .scheme-img   { background-position: -24.25rem  0 }

.scheme-arr {
	display: inline-block;
	width: 15px;
	height: 30px;
	margin: auto 2.937rem;
	background: url('../img/scheme-arr.png') no-repeat;
}

.scheme ul li p {
	font-size: 1.251rem;
	opacity: 0;
}

.cloud-effect {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/** Cloud effect styles **/
.cloud-effect img {
	position: absolute;
	height: auto;
}

.cloud-effect img:first-child {
	width: 8.562rem;
	top: -3.75rem;
	right: 7.812rem;
	animation: levitate 2s alternate ease-in-out infinite;
}

.cloud-effect img:nth-child(2) {
	width: 10.937rem;
	top: 1.937rem;
	left: -3.25rem;
	animation: levitate 2.3s alternate ease-in-out infinite;
}

.cloud-effect img:nth-child(3) {
	width: 5.25rem;
	top: 4rem;
	right: 2.75rem;
	animation: levitate 1.8s alternate ease-in-out infinite;
}

.cloud-effect img:nth-child(4) {
	width: 4.562rem;
	top: 7.75rem;
	right: 15.625rem;
	animation: levitate 1.5s alternate ease-in-out infinite;
}

.cloud-effect img:nth-child(5) {
	width: 4.678rem;
	bottom: 6.973rem;
	left: -1.687rem;
	animation: levitate 1.7s alternate ease-in-out infinite;
}

.cloud-effect img:nth-child(6) {
	width: 5.312rem;
	bottom: 6.5rem;
	left: 26.5rem;
	animation: levitate 1.9s alternate ease-in-out infinite;
}

.cloud-effect img:nth-child(7) {
	width: 7.937rem;
	bottom: 5.437rem;
	right: 1.25rem;
	animation: levitate 2.3s alternate ease-in-out infinite;
}

.cloud-effect img:nth-child(8) {
	width: 7rem;
	bottom: 0rem;
	right: 18.937rem;
	animation: levitate 2.1s alternate ease-in-out infinite;
}

@keyframes levitate {
	0% {
		transform: translate(0, -1rem);
	}
  	100% {
    	transform: translate(0, 1rem);
  	}
}


/** Advantages styles **/
.advantages-wrap {
	position: relative;
	display: inline-block;
	width: 100%;
	padding-bottom: 4.375rem;
	background: url('../img/advantages-bg.jpg');
	background-size: cover;
	color: #fff;
}

.advantages-wrap .diagonal {
	top: 0;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.advantages-wrap .main-headline h2 {
	margin: 10.437rem 2.187rem auto;
}

.advantages {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1100px;
    margin: 1.062rem auto auto;
}

.advantage {
	display: inline-block;
	width: 21.625rem;
	margin: 1.875rem auto;
	text-align: left;
}

.advantage-img {
	display: inline-block;
	float: left;
	width: 7.687rem;
	height: 5rem;
	background: url('../img/advantages.png') no-repeat;
	background-size: cover;
}

.advantages div:first-child .advantage-img  { background-position:       0    0 }
.advantages div:nth-child(2) .advantage-img { background-position:  -8.437rem 0 }
.advantages div:nth-child(3) .advantage-img { background-position:   -17.5rem 0 }
.advantages div:nth-child(4) .advantage-img { background-position:  -28.25rem 0 }
.advantages div:nth-child(5) .advantage-img { background-position: -37.312rem 0 }
.advantages div:last-child .advantage-img   { background-position: -46.437rem 0 }

.advantage h5 {
	display: inline-block;
	float: left;
	margin: 0rem auto auto 0.5rem;
	font-size: 1.25rem;
	line-height: 1.562rem;
	opacity: 0;
}



/** Categories styles **/
.categories-wrap {
	position: relative;
	display: inline-block;
	width: 100%;
}

.categories-wrap>ul {
	padding: 2.062rem 0 2.812rem;
	border-bottom: 1px solid #000;
}

.categories-wrap .category {
	position: relative;
	display: inline-block;
	width: 15.937rem;
	height: 18.562rem;
}

.categories-wrap>ul>li:nth-child(2) {
	margin: auto 9.124rem;
}

.category-arr {
	position: absolute;
	left: 50%;
	bottom: -72px;
	z-index: 3;
	width: 54px;
	height: 54px;
	margin-left: -27px;
	background: #fff;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.categories-wrap .category.active .category-arr {
	opacity: 1;
	visibility: visible;
}

.categories-wrap .category-img {
	width: 100%;
	height: 15.937rem;
	margin-bottom: 0.937rem;
}

.categories-wrap ul li:first-child .category-img  { background: url('../img/category-1.png') center no-repeat; background-size: contain }
.categories-wrap ul li:nth-child(2) .category-img { background: url('../img/category-2.png') center no-repeat; background-size: contain }
.categories-wrap ul li:last-child .category-img   { background: url('../img/category-3.png') center no-repeat; background-size: contain }

.category h3 {
	font-family: "Exo2Bold";
	font-size: 1.562rem;
	text-transform: uppercase;
	color: #000;
}



/** Category products styles **/
.category-products-wrap {
	display: inline-block;
	width: 100%;
	background: #f7f7f7;
}

.category-products {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1250px;
    margin: auto;
}

.product {
	display: block;
	float: left;
	width: 14.812rem;
	padding: 3.687rem 0.125rem;
	border-bottom: 1px solid #000;
}

.product img {
	width: auto;
	height: 12.062rem;
	margin-bottom: 3rem;
}

.product-name,
.product-price {
	font-size: 1.562rem;
}

.product-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.product-price {
	display: block;
	margin: 1.062rem auto 1.375rem;
	font-family: "Exo2Bold";
	color: #fbae3b;
}

.product>input[type=button] {
	padding: 0.875rem 3.437rem;
	font-size: 1.125rem;
	background: #6C90BE;
	color: #fff;
	cursor: pointer;
	border: none;
	outline: none;
	-webkit-transition: background .3s;
	        transition: background .3s;
}

.product>input[type=button]:hover {
	background: #486080;
}



/** Display all products button styles **/
.show-full-btn-wrap {
	position: relative;
	width: 100%;
	display: inline-block;
	padding: 4.562rem 0;
}

.top-line {
	position: absolute;
	top: -4px;
	width: 100%;
	height: 5px;
	background: #fff;
	border-top: 2px solid #000;
}

.show-full-btn {
	padding: 0.562rem 1.875rem;
	font-size: 1.125rem;
	background: #fbae3b;
	border: 2px solid #fbae3b;
	color: #fff;
	cursor: pointer;
}



#map {
	width: 100%;
	height: 23.75rem;
}



/** Footer styles **/
footer {
	position: relative;
	width: 100%;
	padding: 5.062rem 0;
	background: #292929;
	color: #fff;
}

footer .top-btn {
	position: absolute;
	top: -25px;
	left: 50%;
	display: inline-block;
	width: 52px;
	height: 52px;
	margin-left: -25px;
	background: #292929 url('../img/top-arrow.png') center no-repeat;
	border-radius: 50%;
	cursor: pointer;
}

.footer-contacts {
	display: inline-block;
	float: left;
	margin-left: 2.187rem;
	text-align: left;
	font-size: 1rem;
}

.footer-contacts .phone-icon,
.footer-contacts .email-icon {
	display: inline-block;
	float: left;
    width: .812rem;
    height: .812rem;
    margin-right: 0.812rem;
}

.footer-contacts .email-icon {
	background: url('../img/mail.png') no-repeat;
}

footer .social {
	float: right;
	margin: auto 2.187rem auto auto;
}



/** Callback form styles **/
.fade {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.callback-wrap {
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 50%;
	display: none;
	padding: 20px;
	margin: -150px auto auto -120px;
	text-align: center;
	background: #fff;
	color: #000;
}

.close-popup,
.cart-item-delete {
	display: inline-block;
	width: 25px;
	height: 25px;
	font-family: Calibri;
	font-size: 30px;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
}

.close-popup {
	position: absolute;
	top: 0;
	right: -25px;
	background: #fbae3b;
	color: #fff;
}

.callback-wrap h4 {
	font-family: "Exo2Bold";
	font-size: 19px;
}

.callback-wrap p {
	max-width: 200px;
	margin: 20px auto 35px;
	font-size: 14px;
}

.callback-wrap form {
	display: inline-block;
	margin: auto;
}

.callback-wrap input {
	display: block;
}

.callback-form input[type=text],
.product-item-order input[type=text] {
	padding: 8px;
	margin: auto;
	font-size: 14px;
	border: 1px solid #000;
	color: #000;
	outline: none;
}

.callback-form input[type=text]::-webkit-input-placeholder { font-family: "Exo2Italic" }
.callback-form input[type=text]:-moz-placeholder { font-family: "Exo2Italic" }
.callback-form input[type=text]::-moz-placeholder { font-family: "Exo2Italic" }
.callback-form input[type=text]:-ms-input-placeholder { font-family: "Exo2Italic" }

.callback-wrap input[type=text]:nth-child(2) {
	margin: 10px auto 30px;
}

.callback-wrap input[type=submit] {
	font-size: 18px;
	padding: 15px 30px;
	background: #fbae3b;
	border: none;
	color: #fff;
}



/** Cart popup window styles **/
.cart-items-total {
	position: absolute;
	z-index: 10;
	left: 50%;
	display: none;
	margin-left: -24.656rem;
    padding: 2.187rem;
    line-height: normal;
	background: #fff;
}

.cart-items-total h3 {
	padding-bottom: 13px;
	font-family: "Exo2Bold";
    font-size: 1.187rem;
    text-align: left;
}

.cart-item-wrap {
	display: block;
    max-width: 720px;
    /* height: 9.375rem; */
    padding: 1.187rem 1.75rem 1.187rem 0;
    text-align: left;
    border-top: 1px solid #000;
    overflow: hidden;
}

.cart-item-wrap img {
	float: left;
	width: 5rem;
	height: auto;
	margin: 0;
}

.cart-item-descr {
	display: inline-block;
	float: left;
	max-width: 455px;
	margin: 0 6rem 0 2.187rem;
}

.cart-item-descr h3 {
	text-transform: uppercase;
}

.cart-item-descr p {
	font-size: 0.875rem;
	line-height: 1rem;
}

.counter-price-min,
.counter-price-max {
	display: inline-block;
	padding: 0.937rem;
	font-family: "Exo2Bold";
	font-size: 1.562rem;
	color: #fff;
}

.counter-price-min { background: #6c90be }
.counter-price-max { background: #fbae3b }

.counter-wrap {
	margin-top: 1.125rem;
}

.counter-wrap .counter {
	display: inline-block;
	margin: auto 1.875rem;
	vertical-align: middle;
}

.counter-wrap .counter .counter-minus,
.counter-wrap .counter .counter-plus {
	display: inline-block;
	width: 11px;
	height: 23px;
	background: url('../img/product-arr.png') no-repeat;
	background-size: cover;
}

.counter-wrap .counter .counter-plus {
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.counter-wrap .counter span {
    display: inline-block;
	width: 22px;
    margin: auto 1.137rem;
    font-size: 1.125rem;
    vertical-align: super;
}

.cart-items-total form {
	padding-top: 1.187rem;
	text-align: center;
	border-top: 1px solid #000;
}

.cart-items-total form input[type=text] {
	float: left;
}

.cart-items-total form input:first-child {
	margin-right: 2.75rem;
}

.cart-items-total form input[type=submit] {
	float: right;
	padding: 9px 20px;
	font-size: 14px;
	background: #6c90be;
	border: none;
	color: #fff;
	cursor: pointer;
	-webkit-transition: background .3s;
	        transition: background .3s;
}

.cart-items-total form input[type=submit]:hover {
	background: #486080;
}

.cart-total-empty {
	display: none;
	width: 720px;
    padding: 1.187rem 1.75rem 1.187rem 0;
    border-top: 1px solid #000;
    text-align: center;
}

.cart-total-empty h3 {
	text-align: center;
}

.cart-total-empty a {
	color: #fbae3b;
}



/** Product popup window styles **/
.product-item-wrap {
	position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;
    display: none;
    padding: 35px 10px;
    background: #fff;
    margin-left: -355px;
    margin-top: 30rem;
}

.product-item-wrap h3 {
	padding: 0 0 13px 18px;
	font-family: "Exo2Bold";
	font-size: 19px;
	text-align: left;
}

.product-item-slider,
.product-item-details {
	display: inline-block;
	width: 305px;
	margin: auto 20px;
}

/** Product item slider **/
.product-item-slider .stage {
    position: relative;
    width: 100%;
}

.product-item-slider .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.product-item-slider .photo-credits a {
    color: #fff;
}

/** Navigation container **/
.product-item-slider .navigation {
    position: relative;
    width: 220px;
    margin: auto;
}

/** Shared carousel styles **/
.product-item-slider .carousel {
    position: relative;
    width: 177px;
    margin: auto;
    overflow: hidden;
}

.product-item-slider .carousel ul {
    position: relative;
    width: 20000em;
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

.product-item-slider .carousel li {
    float: left;
}

/** Stage carousel controls **/
.product-item-slider .carousel-stage li img {
	width: 177px;
	height: auto;
}
.product-item-slider .prev-stage,
.product-item-slider .next-stage {
    position: absolute;
    top: 50%;
    display: block;
	width: 14px;
	height: 30px;
    margin-top: -15px;
    background: url('../img/product-arr.png') no-repeat;
    background-size: cover;
}

.product-item-slider .prev-stage {
    left: 0;
}

.product-item-slider .next-stage {
    right: 0;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}

/** Navigation carousel specific styles **/
.product-item-slider .carousel-navigation {
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #000;
}

.product-item-slider .carousel-navigation li {
	position: relative;
	margin: 0 7px;
    cursor: pointer;
}

.product-item-slider .carousel-navigation li img {
    display: block;
    height: 72px;
    width: auto;
    margin: auto;
}

.product-item-slider .carousel-navigation li div {
	position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.product-item-slider .carousel-navigation li.active div {
	background: transparent;
}

/** Product item details **/
.product-item-details {
	text-align: left;
}

.product-item-descr {
	font-size: 14px;
	line-height: 16px;
	text-align: justify;
}

ul.product-item-params {
    display: inline-block;
    margin-top: 1.812rem;
	border: none;
}

.product-item-params li {
	position: relative;
	display: inline-block;
	margin-bottom: 8px;
}

.product-item-params li span {
    float: left;
    width: 97px;
    padding-top: 5px;
    font-family: "Exo2Bold";
    font-size: 19px;
    text-align: left;
}

.product-item-params li a {
    display: inline-block;
    float: left;
    width: 125px;
    padding: 7px;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
}

.product-item-params>li>a {
    background: url('../img/product-dd.png') 125px 12px no-repeat;
}

.menu-hidden {
    position: absolute;
    left: 0;
    z-index: 1;
    display: none;
    margin-left: 97px;
    margin-top: 30px;
    background: #fff;
    border-bottom: 1px solid #000;
}

.menu-hidden li {
    display: block;
    width: 141px;
    font-size: 12px;
    font-size: 0.755rem;
    background: #fff;
}

.menu-hidden li a {
	border-top: none;
	border-bottom: none;
	-webkit-transition: background .3s, color .3s;
	        transition: background .3s, color .3s;
}

.menu-hidden li a:hover {
	background: #6c90be;
	color: #fff;
}

.product-item-params li a:hover + .menu-hidden,
.menu-hidden:hover {
    display: block;
}

.product-item-order {
	width: 220px;
	text-align: center;
	border-top: 1px solid #000;
}

.product-item-order h5 {
	padding: 1.187rem 0 1rem;
	font-family: "Exo2Bold";
	font-size: 1.187rem;
}

.product-item-order input[type=text] {
	width: 202px;
	margin: 4px auto;
}

input[type=button].product-item-from-cart,
input[type=button].product-item-form-order {
	width: 100px;
	height: 31px;
	margin-top: 18px;
	font-size: 0.875rem;
	border: none;
	color: #fff;
	cursor: pointer;
}

.product-item-from-cart {
	float: left;
    background: #26a9e0;
}

.product-item-form-order {
	float: right;
	background: #486080;
}

.product-item-nav {
	max-width: 660px;
	padding: 25px 40px 0;
	margin: 50px auto 5px;
	border-top: 1px solid #000;
}

.product-item-nav button {
	font-style: "Exo2Regular";
	font-size: 20px;
	background: none;
	border: none;
	color: #000;
	cursor: pointer;
	text-transform: uppercase;
	outline: none;
}

.product-item-nav button:hover {
	color: #fbae3b;
}

.product-item-nav button:first-child { float: left }
.product-item-nav button:last-child { float: right }

.product-item-nav button img {
	display: inline-block;
	width: 11px;
	height: 23px;
}

.product-item-nav button:first-child img {
	float: left;
	margin-right: 16px;
}

.product-item-nav button:last-child img {
	float: right;
	margin-left: 16px;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}