@media screen and (max-width: 1085px) {
	body, html {
	    font-size: 15px;
	}
	
	.main-wrap {
	    background-position: 54% -35px, 0 0;
	}

	.cart-total {
	    display: inline-block;
	    width: 123px;
	    float: right;
	    line-height: 84px;
	    color: #000;
	}

	.header-controls .nav {
		width: 100%;
	}

	.category-arr {
		bottom: -72px;
	}

	.cart-items-total {
		margin-left: -25.656rem;
	}
}

@media screen and (max-width: 1015px) {
	.categories-wrap>ul>li:nth-child(2) {
		margin: auto 5.214rem;
	}

	.scheme-arr {
		margin: auto 1.175rem;
	}
}

@media screen and (max-width: 900px) {
	body, html {
	    font-size: 14px;
	}
	
	.main-wrap {
	    background-position: 54% -65px, 0 0;
	}

	.categories-wrap .category {
		width: 12.259rem;
		height: 14.278rem;
	}

	.category-arr {
		bottom: -111px;
		margin-left: -14px;
    	width: 25px;
    	height: 25px;
	}

	.cart-items-total {
		margin-left: -26.798rem;
	}
}

@media screen and (max-width: 840px) {
	.scheme ul li:nth-child(odd) {
		width: 14.016rem;
	}

	.close-popup {
		top: -25px;
		right: 0;
	}
}

@media screen and (max-width: 771px) {
	.main-wrap {
	    background-position: 54% -35px, 0 0;
	}
	
	.cart-items-total {
		margin-left: -23.798rem;
	}

	.cart-item-descr {
	    margin: 0 1rem 0 1.187rem;
	}
}

@media screen and (max-width: 720px) {
	.product-item-wrap {
		width: 340px;
		margin-left: -180px;
	}

	.product-item-details {
		margin-top: 15px;
	}

	.product-item-order {
		margin: auto;
	}

	.product-item-nav {
		display: none;
	}
}

@media screen and (max-width: 710px) {
	.scheme-wrap {
		padding-bottom: 0;
	}
	
	.scheme {
		margin-top: 2.5rem;
	}

	.scheme ul li {
		width: 100%;
	}

	.scheme ul li:first-child {
		float: none;
	}

	.scheme ul li:nth-child(odd) {
		width: 17rem;
	}

	.scheme-img {
		margin: 0 auto 0.755rem;
	}

	.scheme-arr {
		margin: 2.5rem auto;
		transform: rotate(90deg);
	}

	.cloud-effect img:nth-child(2) {    top: 5.811rem  }
	.cloud-effect img:nth-child(3) {    top: 12rem     }
	.cloud-effect img:nth-child(4) {    top: 23.25rem  }
	.cloud-effect img:nth-child(5) { bottom: 24.811rem }
	.cloud-effect img:nth-child(6) { bottom: 19.5rem   }
	.cloud-effect img:nth-child(7) { bottom: 12.311rem }
}

@media screen and (max-width: 685px) {
	.categories-wrap .category {
		width: 8.172rem;
	}

	.cart-items-total {
		margin-left: -12.857rem;
	}

	.cart-item-wrap {
		padding: 1.187rem 0;
		width: 300px;
	}

	.cart-item-delete {
		float: right;
	}

	.cart-item-descr {
		margin: 1rem auto auto;
	}

	.counter-price-min {
		display: none;
	}

	.counter-wrap .counter {
		margin-left: 0;
	}

	.cart-items-total form {
		width: 300px;
	}

	.cart-items-total form input[type=text] {
		float: none;
		margin: 5px auto;
	}

	.cart-items-total form input:first-child {
		margin-right: 0;
	}

	.cart-items-total form input[type=submit] {
		display: block;
		float: none;
		width: 188px;
		margin: 5px auto auto;
	}

	.cart-total-empty {
		width: 300px;
		padding: 1.187rem 0;
	}
}

@media screen and (max-width: 655px) {
	.advantage {
	    width: 17.625rem;
	}
	.advantage-img {
		width: 5.913rem;
		height: 3.846rem;
	}

	.advantages div:first-child .advantage-img  { background-position:       0    0 }
	.advantages div:nth-child(2) .advantage-img { background-position:  -6.49rem 0 }
	.advantages div:nth-child(3) .advantage-img { background-position:   -13.46rem 0 }
	.advantages div:nth-child(4) .advantage-img { background-position:  -21.73rem 0 }
	.advantages div:nth-child(5) .advantage-img { background-position: -28.701rem 0 }
	.advantages div:last-child .advantage-img   { background-position: -35.721rem 0 }

	.advantage h5 {
		margin: 0.769rem auto auto 1.923rem;
		font-size: 0.961rem;
		line-height: 1.202rem;
	}
}

@media screen and (max-width: 620px) {
	.main-wrap {
	    background: url('../img/main-wrap-bg.jpg');
	    background-size: cover;
	}

	.timer-wrap {
		margin-top: 2rem;
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 540px) {
	.header-contacts .social {
		margin: 0;
		width: 100%;
		text-align: center;
	}

	.header-contacts-phone {
		float: none;
		margin: 1rem auto auto;
		text-align: center;
	}

	.nav li {
	    width: 110px;
	    line-height: 60px;
	    font-size: 15px;
	}

	.main-headline h2 {
		font-size: 2rem;
	}
}

@media screen and (max-width: 525px) {
	.advantage {
		width: 315px;
		margin: 1.175rem auto;
	}
	
	.advantage h5 {
	    margin: 0.438rem auto auto 1.923rem;
	}

	.advantage h5 br {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.categories-wrap>ul>li:nth-child(2) {
	    margin: auto 2.214rem;
	}
}

@media screen and (max-width: 435px) {
	.header-controls {
		border-bottom: none;
	}

	.header-controls img {
		float: none;
		margin-left: 0;
	}

	.cart-total {
		margin-right: 0;
		width: 100%;
		line-height: 54px;
		text-align: center;
	}

	.nav ul {
        position: static;
        display: none;
        border-bottom: 10px solid #6c90be;
    }

	.nav li:nth-child(even) {
		display: none;
	}

	.nav ul li,
	.nav li a {
        display: table;
        margin: auto;
        width: 180px;
    }

    .nav li a {
        margin: 5px auto;
    	
    }

    .nav li:not(:last-child) {
    	border-bottom: 1px solid #000;
    }

    .show-menu {
        display: block
    }

    .main-headline h2 {
    	padding: 2.812rem 0;
    }

    .categories-wrap .category {
    	width: 330px;
    	padding: 15px 0 25px;
	    margin: 20px;
	    border: 1px solid #000;
    }
	
	.categories-wrap>ul>li:nth-child(2) {
		margin: auto;
	}

    .categories-wrap .category-img {
        height: 10.937rem;
    }

    .category-arr {
    	bottom: -13px;
    	border-top: 1px solid #000;
		border-left: 1px solid #000;
		border-bottom: none;
		border-right: none;
    }

    .product {
    	width: 13.465rem;
    }
}

@media screen and (max-width: 400px) {
	.product {
		width: 100%;
		padding: 1.844rem 0.125rem;
	}
}